<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title">ПОЧЕМУ МЫ?</h2>
    <ul class="advantages__list">
      <li class="advantages-item">
        <img
          class="advantages-item__img"
          src="img/advantages/1.svg"
          alt="img"
        />
        <span class="advantages-item__text">
          БОЛЕЕ 10 ЛЕТ НА РЫНКЕ КАЗАХСТАНА
        </span>
      </li>
      <li class="advantages-item">
        <img
          class="advantages-item__img"
          src="img/advantages/2.svg"
          alt="img"
        />
        <span class="advantages-item__text">
          БОЛЕЕ 5000 ВЫПОЛНЕННЫХ РАБОТ
        </span>
      </li>
      <li class="advantages-item">
        <img
          class="advantages-item__img"
          src="img/advantages/3.svg"
          alt="img"
        />
        <span class="advantages-item__text"> ШИРОКИЙ ВЫБОР ПРОДУКЦИИ </span>
      </li>
      <li class="advantages-item">
        <img
          class="advantages-item__img"
          src="img/advantages/4.svg"
          alt="img"
        />
        <span class="advantages-item__text"
          >ОБЪЕМ РАБОТ УЖЕ БОЛЕЕ 144 тыс. м2</span
        >
      </li>
      <li class="advantages-item">
        <img
          class="advantages-item__img"
          src="img/advantages/5.svg"
          alt="img"
        />
        <span class="advantages-item__text">ПРОЗРАЧНЫЕ ЦЕНЫ</span>
      </li>
    </ul>
    <p class="advantages__slogan">С НАМИ ВАШ БИЗНЕС ДОСТИГНЕТ НОВЫХ ВЕРШИН!</p>
  </div>
</section>
