<section class="benefits">
  <div class="container">
    <h2 class="benefits__title section-title">Почему это выгодно?</h2>
    <ul class="benefits__list">
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/1.svg" alt="img" />
        <span class="benefits-item__text"> СРОК СЛУЖБЫ </span>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/2.svg" alt="img" />
        <span class="benefits-item__text">ИНДИВИАДУЛЬНЫЙ ДИЗАЙН</span>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/3.svg" alt="img" />
        <span class="benefits-item__text">ЭКОЛОГИЧНОСТЬ</span>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/4.svg" alt="img" />
        <span class="benefits-item__text">ЗАЩИТА</span>
      </li>
    </ul>
    <p class="benefits__slogan">С НАМИ ВАШ БИЗНЕС ДОСТИГНЕТ НОВЫХ ВЕРШИН!</p>
  </div>
</section>
