<section class="control-panel">
  <div class="container">
    <h2 class="control-panel__title">Пульты управления</h2>

    <ul class="control-panel__list">
      <li class="control-panel__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/control-panel/1.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Пульт управления 1 канальный</a>
            </h3>
            <span class="automation-card__price"><b>Цена:</b> 7500 тенге</span>
            <span class="automation-card__vendor">Артикул: DC1600</span>
          </div>
        </article>
      </li>
      <li class="control-panel__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/control-panel/2.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Пульт управления 1 канальный c LED включением</a>
            </h3>
            <span class="automation-card__price"><b>Цена:</b> 8500 тенге</span>
            <span class="automation-card__vendor">Артикул: DC2708L</span>
          </div>
        </article>
      </li>
      <li class="control-panel__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/control-panel/3.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Пульт управления 2 канальный</a>
            </h3>
            <span class="automation-card__price"><b>Цена:</b> 8000 тенге</span>
            <span class="automation-card__vendor">Артикул: DC2760</span>
          </div>
        </article>
      </li>
      <li class="control-panel__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/control-panel/4.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Пульт управления 15 канальный</a>
            </h3>
            <span class="automation-card__price"
              ><b>Цена:</b> 17 000 тенге</span
            >
            <span class="automation-card__vendor">Артикул: DC2702</span>
          </div>
        </article>
      </li>
      <li class="control-panel__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/control-panel/5.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Кнопка управления сенсорная 1 канальная</a>
            </h3>
            <span class="automation-card__price"><b>Цена:</b>19 000</span>
            <span class="automation-card__vendor">Артикул: DC1770</span>
          </div>
        </article>
      </li>
      <li class="control-panel__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/control-panel/6.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Кнопка управления 15 канальная</a>
            </h3>
            <span class="automation-card__price"
              ><b>Цена:</b> 48 000 тенге</span
            >
            <span class="automation-card__vendor">Артикул: DC2362</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
