<section class="contacts">
  <div class="container">
    <h2 class="contacts__title section-title">
      Закажите звонок прямо <br />
      сейчас
    </h2>

    <form class="contacts__form form-submit">
      <div class="form-submit__top">
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваш номер телефона"
          />
        </label>
      </div>
      <button class="form-submit__btn btn" type="submit">Отправить</button>
    </form>
  </div>
</section>
