<section class="descr descr--reverse">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__row descr__row--img">
        <img src="img/descr-pergolas/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Пергола</b> - премиальное решение для обустройства вашей летней
            террасы, придания ей индивидуальности и привлекательности. Это
            современная и технологичная солнцезащитная система имеет не только
            аккуратный, богатый вид, но и защитит вас от жарких солнечных лучей,
            ливня в ненастную погоду. Конструкция каркаса представляет собой
            сборную беседку с сдвижным тентовым или тканевым навесом. Полотно
            тента по принципу римской шторы собирается под специальный козырек.
            Каждая деталь конструкции продумана до мелочей и напоминает о
            премиальности и высоких стандартах качества - скрытые крепежи,
            отливы для стока размещены в стойках, все сдвижные механизмы и узлы
            также скрыты.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-pergolas/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Пергола</b> имеет повышенную ветроустойчивость перед другими
            солнцезащитными системами, до 10 м/сек. Каркас изготавливается из
            прочного экструдированного алюминия. <br />
            По количеству дополнительных опций пергола непревзойденный лидер -
            купить перголу, это купить комфорт и уют, заданный планками
            современных технологий. <br />
            Полная автоматизация позволит вам насладиться временем, проведенным
            на террасе, не заморачиваясь об управлении. Пульты и клавиши
            дистанционного управления упрощают контроль над солнцем.
            Предусмотрена установка датчиков солнца и дождя, датчика ветра.
            Возможно управление голосом при подключении к системе “Умный дом”.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-pergolas/3.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Установка уличных вертикальных маркиз на перголу</b> позволит не
            только укрыться от боковых солнечных лучей, но и от назойливых глаз
            соседей. Встроенная подсветка (управление также с пульта) даст
            возможность наслаждаться теплым летним вечером на вашей террасе под
            приятным и равномерным освещением, не прибегая к дополнительным
            источникам света которое занимает полезное пространство и портит
            эстетический вид. <br />
            Наслаждайтесь пребыванием на своей летней террасе - контролируйте
            солнце и непогоду, установка перголы с тентовым сдвижным навесом
            красиво справится с поставленными задачами.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- marquises -->
