<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        Маркизы для террас – самые востребованные виды маркиз, они прекрасно
        впишутся в любой интерьер, украшая и дополняя архитектуру фасада здания.
        Террасные навесы обеспечат затененное и защищенное от ветра и дождя
        пространство на открытом воздухе; в частном доме любой балкон или лоджия
        будут смотреться невероятно эффектно и уютно.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__row descr__row--img">
        <img src="img/descr-marquises/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Попробуйте представить красивую террасу перед уютным загородным
            домом. Или столик на улице возле симпатичного маленького кафе. Что
            их объединяет? Маркизы. Именно террасные маркизы открытого типа
            являются самыми востребованными и популярными на рынке Казахстана.
            Многие веранды и площадки в частных домах и ресторанах оборудованы
            именно этим изящным и эффективным типом солнцезащитных систем. Они
            спасут не только от ультрафиолета, но также и от лёгкой непогоды. А
            их роль в создании неповторимого стиля экстерьера неоспорима.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-marquises/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Принцип действия террасных маркиз довольно прост. В закрытом
            состоянии ткань намотана на барабан. С пульта управления подаётся
            сигнал об открытии, подвижные части, так называемые локти, выдвигают
            передний профиль маркизы и натягивают ткань. При этом можно
            регулировать площадь затенения: выдвинуть маркизу полностью или
            частично. Управление также может быть и ручным.
          </p>
          <p>
            Несмотря на то, что некоторые декоративные элементы выполнены из
            пластика, система является надёжной и долговечной. Все детали
            механизма, на которые приходится нагрузка, выполнены из алюминия и
            нержавеющей стали. Основным отличием террасных маркиз открытого типа
            от остальных маркиз является то, что вал с тканью находится в
            открытом состоянии и подвержен воздействию окружающей среды. В то же
            время, данная конструкция является самой бюджетной, что делает её
            лидером на рынке в своём сегменте.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- marquises -->
