<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__row descr__row--img-reverse">
        <div class="descr__img">
          <img src="img/descr-tents/1.jpg" alt="Маркизы" />
        </div>
        <div class="descr__text">
          <p>
            <b>Натяжные тенты</b> одно из самых функциональных и простых в
            реализации решений, для затенения вашей домашней террасы, площадки
            летнего кафе или ресторана. Все гениальное - просто, звучит древняя
            поговорка! Нестандартные и многообразные формы вашей террасы вовсе
            не проблема! <br />
            Купить тент в Алматы по доступным ценам и лучшего качества - теперь
            очень легко. Пошив тентов производится на специализированном
            оборудовании. Гарантия на разрыв. <br />
            Акриловая ткань, применяемая нами для пошива тентов, имеет
            преимущества перед другими видами ткани.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <div class="descr__img">
          <img src="img/descr-tents/2.jpg" alt="Маркизы" />
        </div>
        <div class="descr__text">
          <p>
            <b> Тенты из акриловой ткани</b> — это надежная защита от солнца в
            жаркий летний день и дождя в непогоду. Натяжные тенты - долговечны,
            ткань не выгорает (акриловые нити устойчивы к воздействию
            ультрафиолета), не плесневеет и не гниет(особые антигрибковые
            пропитки). Акриловая ткань эластична и устойчива к сгибанию, что
            позволяет многократно и без последствий для внешнего вида, совершать
            монтаж и демонтаж тентов. Срок службы более 5 сезонов (рекомендуемое
            время использования с апреля по октябрь включительно). Акриловые
            уличные ткани представлены у нас в широком ассортименте расцветок и
            тонов.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-tents/3.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Купить тент для площадки ресторана или кафе</b> - приобрести не
            только комфорт и внимание к своей террасе. Яркое, огромное полотно
            тента цепляет взгляд издалека. Нанесение индивидуального изображения
            (логотип, контакты) повысят узнаваемость бренда и популярность
            вашего заведения.
          </p>
          <p>
            <b>Парусные конструкции</b> очень часто относят к натяжным тентам,
            но в отличии от первых, их пошив производится из специальной ткани
            (сетчатая ткань, парусная ткань), она останавливает ультрафиолетовые
            лучи, но не задерживает воду. Основная задача тентовых конструкций
            из сетчатой ткани — останавливать палящие солнечные лучи.
          </p>
          <p>
            Парусные тенты не требуют соблюдения правил углов натяжения
            (необходимых для стока воды), что еще больше упрощает затенение
            огромных площадей, таких как прогулочные зоны парков, игровые
            детские площадки, спортивные площадки, пляжные и зоны у бассейна,
            теннисные корты.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
