<section class="descr descr--reverse">
  <div class="container">
    <div class="descr__top">
      <p>
        Легкий аромат свежей выпечки, чашечка кофе на столике с причудливой
        кованной ножкой – Вы сидите в маленьком уютном кафе где-то в пьянящей
        Франции.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__row descr__row--img">
        <img src="img/descr-basket/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            А что же является отличительной особенностью таких по-европейски
            милых и завораживающих мест? Корзинные маркизы, установленные на
            окнах и над входными группами. Это изящные солнцезащитные системы,
            своеобразный козырек, придающий неповторимый узнаваемый имидж.
          </p>
          <p>
            В зависимости от формы окна, витража или входной группы, корзинные
            маркизы могут быть купольными или прямоугольными. Площадь затенения
            можно регулировать: выдвинуть маркизу полностью или частично.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-basket/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Помимо своего прекрасного внешнего вида, корзинные маркизы обладают
            рядом защитных функций. Они скрывают окна от палящих солнечных
            лучей, а также препятствуют загрязнению. Идеально подходят для окон
            сложных форм. Корзинные маркизы также являются прекрасным рекламным
            носителем.
          </p>
          <p>
            На них можно нанести логотип или слоган, что позволит Вам
            дополнительно заявить о себе. <br />
            Корзинные маркизы, несмотря на свой необычный внешний вид, имеют
            довольно широкую область применения. Их используют не только в
            коммерческих целях в кафе, ресторанах и отелях, но также с успехом и
            в загородном домостроении. Если вы хотите сделать Ваш дом уникальным
            и запоминающимся, то эта модель маркиз, определенно, для Вас!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- marquises -->
