<section class="descr descr--reverse">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__row descr__row--img">
        <img src="img/descr-pergolas/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Перготенды – новое слово в солнцезащитных системах! Это уникальный
            продукт, который позволяет создать тень и укрыть Вас от дождя.
            Предназначенные для сада, внутреннего дворика, открытой террасы,
            палубы ресторана или бассейна, такие навесы расширяют и улучшают
            Ваше личное пространство, защищая его от палящего солнца и других
            неприятных факторов.
            <br />Перготенды могут быть отдельностоящими или же прикрепленными к
            стене здания. Кроме того, они могут быть двускатными или арочными.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-pergolas/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Принцип действия перготенда заключается в том, что выдвижение ткани
            происходит за счет специальных канатов, спрятанных в подрамнике.
            Ткани, используемые в таких системах, являются невероятно прочными и
            водоотталкивающими. <br />Внутреннее освещение придаст эстетическую
            привлекательность, комфорт и большую функциональность.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-pergolas/3.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Перготенды просты в использовании, открываются в считанные секунды с
            дистанционного пульта управления. Разнообразие расцветок поможет
            создать неповторимый дизайн, который органично впишется в любой
            ландшафт.
          </p>
          <p>
            Перготенды – по праву считаются лучшим решением для открытых террас.
            Они надёжно защищают от солнца, ветра и осадков, имеют направляющие
            с водоотливами, что обеспечивает конструкции полную герметичность.
            Перготенды – мировые лидеры на рынке солнцезащитных систем!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- marquises -->
