<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>Маркизы оконные</b> - несмотря на свое название, решение
        универсальное.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__row descr__row--img-reverse">
        <img src="img/descr-window/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Входные группы, витражи магазинов и витрины бутиков, балконы - это
            не полный список где этот тип маркиз отлично справляется с своей
            непосредственной задачей - защитой от прямых солнечных лучей, но и
            придает дизайну экстерьера индивидуальность и привлекательность.
            <br />
            Конструкция оконных маркиз настолько проста, что маркиза крепится
            как к стене, так и потолку. Рекордный для маркиз изменяемый угол
            наклона, позволяет с непревзойденной точностью настраивать и
            контролировать количество пропускаемого света. <br />
            Каркас окрашен порошковой краской. Крепления из нержавейки. Не
            создаст трудностей в эксплуатации и обслуживании. Ширина таких
            маркиз до четырех метров, а максимальный вылет полотна до полутора
            метра. <br />
            Имеются бюджетные модели уличных маркиз на окна - с
            ручным(механическим) управлением. <br />
            Также вы можете купить в Алматы маркизы оконные с усиленным каркасом
            на автоматическом управлении (проверенные заводы Китая или
            гарантированное качество европейских производителей).
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-window/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Полотно маркиз для окон из акриловой ткани</b>. Акриловая ткань
            имеет лучшие рекомендации для производства солнцезащитных систем.
            Долговечна - устойчива к воздействию ультрафиолета, не выгорает и не
            теряет насыщенности цвета; защищена от гниения, плесени и грибка
            специальными пропитками; тефлоновое покрытие отталкивает воду и
            пыль. Соответственно ее меньше оседает на окнах и попадает в
            помещение. Ткань из Испании и Франции. Широкий выбор фактур и
            цветов, наши дизайнеры помогут вам с выбором. Занимаемся
            реставрацией маркиз (замена полотна). <br />
            Установка оконных маркиз на витражи торгового бутика, защитит товар
            от порчи при воздействии палящего солнца. <br />
          </p>
          <p>
            <b>Маркиза и рекламный баннер? Да и такое возможно!</b> На оконную
            маркизу возможна печать информации о вас, контактов, логотипа или
            любого другого индивидуального изображения. Витрина вашего магазина
            будет не только защищена, маркиза придаст ей, новый притягивающий
            взгляд информативный вид. Окна вашего особняка или загородного
            коттеджа после монтажа маркиз приобретут свежий Европейский вид.
            Фасад вашего здания будет выделяться на фоне однообразных окон ваших
            соседей.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
