<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        Оконные маркизы – один из самых простых видов маркиз. Поэтому является
        также и одним из самых универсальных решений.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__row descr__row--img-reverse">
        <img src="img/descr-window/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Оконные маркизы – один из самых простых видов маркиз. Поэтому
            является также и одним из самых универсальных решений. Область
            применения прямых оконных маркиз довольно широка. Их крепят над
            окнами, балконами и входными группами с внешней стороны. Оконные
            маркизы устанавливаются непосредственно на фасад здания и придают
            ему современный и респектабельной внешний вид.Такие маркизы можно
            использовать всесезонно, ей не страшны ни осадки, ни ветер.
            Максимальная высота закрываемой площади у оконных маркиз составляет
            2,4 м. При этом, вылет локтя будет равен 1,2 м.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-window/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Практичность является одной из основных характеристик прямых оконных
            маркиз. Они не выцветают на солнце и не подвержены воздействие
            непогоды. Легкость в управлении делает такие маркизы незаменимым
            синонимом комфорта. Всего за несколько секунд можно частично или
            полностью открыть маркизу с пульта управления или вручную,
            спрятавшись от солнечных лучей. А за счет своего непревзойдённого
            внешнего вида и возможности выбора ярких расцветок, маркизы не дадут
            хандрить даже в пасмурный непогожий день.
          </p>
          <p>
            Оконные маркизы доступны с открытым передним профилем, который может
            быть покрашен в любой цвет для создания неповторимого дизайна. Кроме
            того, Вы можете напечатать на ткани логотип или рекламный посыл,
            дополнительно заявив о своем деле.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
