<section class="descr descr--reverse">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>Корзинные маркизы</b> на окна получили свое название по принципу
        действия механизма, маркиза собирается по подобию корзинки. Для контроля
        светового просвета используется шнурково-роликовый механизм. Корзинные
        маркизы чаще всего исполняются в виде купола, но также могут быть
        прямоугольной формы. <br />
        Конструкция каркаса корзинных(купольных) маркиз изготавливается из
        прочного и легкого алюминия, полотно из акриловой ткани - не мнется и не
        заламывается, что делает ее самым оптимальным вариантом по соотношению
        цены и качества при производстве оконных маркиз данного типа.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__row descr__row--img">
        <img src="img/marquises/basket/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Тканевые козырьки на окна, так еще называют корзинные маркизы,
            отлично справляются с своей главной задачей - они препятствуют
            попаданию прямых солнечных лучей в помещение. Останавливая солнце и
            тепло за пределами, предотвращая его нагревание. В свою очередь это
            экономия электроэнергии на кондиционировании.
          </p>
          <p>
            <b>Маркизы для окон корзинные</b> помимо всех своих идеальных
            практических функций имеют элегантный вид. Установка маркиз
            преобразит фасад вашего здания. Акриловые ткань - специальная
            уличная ткань, не подвержена воздействию ультрафиолетовых лучей, не
            выцветает на солнце; благодаря антигрибковой пропитке защищена от
            гниения и плесени; тефлоновое покрытие отталкивает воду и пыль;
            ткань уличная из акриловых нитей служит более 5 лет. В наличии
            представлены яркие расцветки и спокойные тона, различные фактуры
            акриловой ткани.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/marquises/basket/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Купольные маркизы</b> также могут быть изготовлены стационарными,
            без механизмов для складывания полотна. Стационарные маркизы на окна
            производятся из окрашенного металлического профиля, что делает
            возможность изготавливать такие маркизы нестандартных и необычных
            форм. Каркас надежно защищен от коррозии полимерно-порошковым
            покрытием. Для монтажа используются крепежные материалы из
            нержавеющей стали. Стационарные маркизы шикарно смотрятся не только
            на окнах, но и подходят для установки над входными группами,
            витражами бутиков.
          </p>
          <p>
            Витрина магазина будет привлекать к себе больше внимания, а товар
            будет защищен от порчи при воздействии жаркого солнца. <br />
            Возможность печати на ткани полотна маркиз, превращает ее в
            рекламный плакат, изображение логотипа вашего бренда повысит
            популярность и узнаваемость. <br />
            Долговечность, практичность, элегантный, привлекательный вид,
            приемлемая стоимость — вот не полный список, почему стоит купить
            маркизы на окна у нас.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- marquises -->
