<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__row descr__row--equal-reverse">
        <div class="descr__img">
          <img src="img/aircrafts/1.jpg" alt="Маркизы" />
        </div>
        <div class="descr__text">
          <p>
            Летние кафе системы «Самолёт» - это П-образные конструкции, в
            которых используются террасные маркизы. Благодаря своей
            универсальности, система «Самолёт» позволяет оборудовать летнее кафе
            практически на любой открытой площадке в максимально сжатые сроки.
          </p>
          <p>
            Это очень удобно, если Вам необходимо быстро организовать
            пространство. «Самолёт» мобилен, прочен и надежен, удобен в
            эксплуатации и имеет привлекательный внешний вид.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <div class="descr__img">
          <img src="img/descr-aircrafts/1.jpg" alt="Маркизы" />
        </div>
        <div class="descr__text">
          <p>
            Принцип конструкции таков, что на металлический каркас, окрашенный
            специальной порошковой краской, устанавливается раздвижная тентовая
            крыша, открытыеили кассетные террасные маркизы, которые можно
            открывать и закрывать независимо друг от друга.
          </p>
          <p>
            Устойчивость всей конструкции придают специальные пригрузочные
            ящики, которые, как правило, используются в качестве декоративных
            коробов или ящиков для цветов, а также такие ящики могут скрываться
            под подиум.
          </p>
        </div>
      </div>
    </div>
    <div class="descr__bottom">
      <p>
        Летнее кафе «Самолёт» можно организовать на открытой площадке, как
        отдельностоящую конструкцию, так и в непосредственной близи к зданию.
      </p>
    </div>
  </div>
</section>
