<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>У нас вы можете заказать маркизы раздвижные для террасы</b>
        практически всех видов. Купить маркизы в Алматы стандартных размеров или
        заказать изготовление по индивидуальным (от 4 дней в зависимости от типа
        и комплектации). <br />
        Самые простые маркизы открытого типа с конструкцией без несущего
        квадрата и дополнительных креплений - функциональность, практичность,
        приятная стоимость и аккуратный внешний вид. <br />
        Они ограничены шириной до 5 метров и выносом полотна до 3 метров. Данная
        модель изготавливается исключительно на механическом управлении.
      </p>
      <p>
        <b>Маркизы раздвижные открытого типа с несущим квадратом</b>, имеют
        более прочный каркас конструкции, ограничение для этого типа уличных
        маркиз на террасу по ширине 6 метров, вынос полотна до 4 метров.
        Автоматическое или ручное управление.
      </p>
    </div>

    <div class="descr__wrapper">
      <div class="descr__row descr__row--img">
        <div class="descr__img">
          <img src="img/marquises/terrace/1.jpg" alt="Маркизы" />
        </div>
        <div class="descr__text">
          <p>
            Также вы можете купить маркизы для террасы кафе или ресторана
            премиального, кассетного типа - особое их отличие заключается в том,
            что в закрытом состоянии маркиза скрывается в специальном
            коробе(кассете). <br />
            Помимо эксклюзивного вида кассета, также выполняет защитные функции,
            не допускает попадания осадков и пыли на ткань и комплектующие, в
            свою очередь это продлевает срок службы маркизы. <br />
            Изменение угла наклона возможно на всех типах террасных маркиз. Все
            уличные маркизы изготавливаются из узлов и механизмов высокого
            стандарта качества - раздвижные локти из легкого и высокопрочного
            алюминия, крепежные материалы из нержавеющей стали и окрашенного
            металла. <br />
            Полотно наших маркиз для террас ресторанов и летних кафе - ткань из
            акриловых нитей с тефлоновым пыле и водоотталкивающим покрытием.
            Акриловая ткань (производство Испания, Франция) лидер по
            долговечности в использовании в непредсказуемых условиях уличной
            среды. Особые пропитки уберегают ее от грибка и плесени. Не теряет
            цвета даже после нескольких лет воздействия ультрафиолетовых лучей
            (не тускнеет). Не растягивается и не мнется. Огромный выбор оттенков
            и фактур ткани для полотна, сделают вашу маркизу для летнего кафе,
            ресторана или гостиницы индивидуальной и неповторимой. <br />
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <div class="descr__img">
          <img src="img/marquises/terrace/2.jpg" alt="Маркизы" />
        </div>
        <div class="descr__text">
          <p>
            Для еще большего удобства в использовании маркиз - автоматика
            (пульты, клавиши дистанционного управления, датчики ветра, дождя и
            солнца) от надежных заводов Европы или проверенных изготовителей из
            Китая под ваш бюджет. Подключение к системам “Умного дома”. Возможно
            нанесение логотипа вашего бренда или рекламной информации.
          </p>
          <p>
            <b> Солнцезащитная система “Летнее кафе”</b> - премиальное решение
            для защиты от солнца и дождя, в условиях когда необходимо
            организовать террасу без возможности закрепления маркизы к стене или
            другой несущей опоре, ведь в основе данной системы - собственная
            несущая металлическая конструкция, а с двух сторон установлены
            выдвижные тканевые тенты — уличные локтевые маркизы, напоминающие
            крылья, поэтому данную систему еще называют “Самолет”. Площадь
            затенения по ширине ограничена лишь вылетом маркиз - максимально до
            4 метров с каждой стороны, в зависимости от типа выбранной вами
            террасной маркизы. И практически не ограничена по длине. <br />
            Каркас несущей конструкции изготавливается из толстостенного
            металлического профиля. Для защиты каркаса от коррозии и других
            внешних воздействий используется полимерно-порошковое покрытие.
            <br />
            Монтаж террасных маркиз к каркасу производится крепежными
            материалами из нержавеющей стали.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- marquises -->
