<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-umbrellas/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Мы предлагаем Вам широкую линейку зонтов для коммерческого и
            частного использования. Наши зонты одинаково успешно создадут
            комфорт и уют как в экстерьере ресторана, так и во дворе дома или на
            даче.
          </p>
          <p>
            Мобильные, уникальные, стильные солнцезащитные конструкции сочетают
            в себе функциональность и эксклюзивный внешний вид.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-umbrellas/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Мы очень гордимся нашими зонтами, ведь они отвечают самым высоким
            стандартам качества! Европейское производство, отсутствие
            пластиковых деталей, использование высокотехнологичных тканей –
            главные особенности этой солнцезащитной продукции.
          </p>
          <p>
            Без преувеличения, зонты от компании Маркиз – лучшие среди себе
            подобных! Официально мы даем гарантию 3 года, но фактически наша
            защита от дождя и солнца прослужит вам гораздо дольше! Не экономьте
            на качестве, выбирайте самое достойное для себя, своей семьи и
            своего бизнеса!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
