<section class="descr">
  <div class="container">
    <div class="descr__top">
      <p>
        <b>Уличные зонты</b> условно можно классифицировать по типу несущей
        опоры:
        <br />
        Легкие зонты на центральной металлической стойке. <br />
        И более презентабельные зонты на боковой металлической стойке.<br />
        Первый вариант отлично подходит для небольших площадок летних кафе и
        баров, кофеен.
      </p>
    </div>
    <div class="descr__wrapper">
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-umbrellas/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p></p>
          <p>
            <b>Зонты для кафе</b> изготавливаются из окрашенного металлического
            профиля, полотно купола полиэстер с водоотталкивающим покрытием.
            <br />
            У нас вы можете купить уличные зонты для кафе на центральной опоре,
            самые популярные размеры: 3 х 3 / 3,5 х 3,5 / 4 х 4 метра. <br />
            Небольшие размеры площадки для устойчивости (до 90 х 90 см). <br />
            Пригрузы - бетонные плиты (вес одной плиты от 3 кг). <br />
            Уличные зонты для кафе очень легкие, вес зонта от 30 кг, не доставят
            проблем с перемещением. Просты в использовании и обслуживании.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-umbrellas/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            <b>Зонт уличный на боковой несущей опоре</b>, притягивает взгляды -
            изумительный, премиальный вид. <br />
            Это зонты для ресторанов, гостиниц, пляжных зон бассейнов.
            Безупречное исполнение, каждая деталь, каждый механизм -
            соответствуют высочайшим стандартам качества. <br />
            Каркас конструкции зонта с выносом площадки для устойчивости в
            сторону, обладает не только прекрасной ветроустойчивостью (до 10
            м/сек), но и позволяет максимально полезно использовать пространство
            под зонтом. <br />
            Большой уличный зонт привлекает внимание, насыщенные цвета Акриловой
            ткани купола заметны издалека. Акриловая ткань разработана
            специально для уличного использования, она славится своей прочностью
            и устойчивостью к гниению благодаря особым пропиткам. Не подвержена
            воздействию ультрафиолетовых лучей, которые разрушают волокна прочих
            тканей. <br />
            Надежная металлическая лебедка (нет пластиковых деталей) - не
            требует физических усилий при открытии или раскрытии купола. <br />
            Пригрузы - солидный шлифованный гранит (от 37 кг одна плита). <br />
            Большие уличные зонты могут изменять угол наклона купола (три
            положения), с этим непринужденно справится один человек. <br />
            Вес зонта (без пригруза) от 80 кг.
          </p>
          <p>
            <b>Купить большой уличный зонт</b> на боковой опоре размерами купола
            зонта: 2,5 х 2,5 / 3 х 3 / 3,5 х 3,5 / 4 х 4 метра. <br />
            Каркас всех зонтов защищен от внешних воздействий (ржавчина,
            царапины) специальным полимерно-порошковым покрытием. Крепежные
            материалы из нержавеющей стали. <br />
            На зонт большой уличный для кафе или ресторана возможна печать
            логотипа. Сборка зонта занимает минимальное время (до 5 часов) и не
            требует специального инструмента. <br />
            Не имеет необходимости в закреплении к стенам или другим несущим
            опорам.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
