<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__row descr__row--img-reverse">
        <img src="img/descr-tents/1.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Тенты для ресторанов, кафе и прочих заведений создадут комфортные
            условия для ваших гостей и сотрудников, а также сделают их
            пребывание в вашем заведении более длительным, увеличат средний чек
            и посадку вашей террасы. Длительный срок службы изделий гарантирует
            окупаемость вложений.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--equal-reverse">
        <img src="img/descr-tents/2.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Натяжные тенты - самая известная с незапамятных времён
            солнцезащитная конструкция. Она же и самая незатейливая.
          </p>
          <p>
            Действительно, что может быть проще куска ткани, закрепленной на
            опорах или растяжках, защищающей от перегрева и осадков?
          </p>
          <p>
            В современном мире натяжные тенты используются для создания
            комфортных условий посетителям летних кафе, выездных выставок,
            фестивалей и презентаций.
          </p>
        </div>
      </div>
      <div class="descr__row descr__row--reverse">
        <img src="img/descr-tents/3.jpg" alt="Маркизы" />
        <div class="descr__text">
          <p>
            Тенты из акриловой ткани – надежная защита от солнца и непогоды. Они
            долговечны, не выгорают на солнце, не провисают за счет хорошей
            натяжки, эластичны и устойчивы к сгибанию, что позволяет многократно
            и без последствий совершать монтаж и демонтаж конструкции.
          </p>
          <p>
            Такие тенты легко моются и долго сохраняют свою расцветку, что,
            бесспорно, является их преимуществом. Кроме того, они имеют
            доступную цену и возможность исполнения по индивидуальным чертежам.
            Огромным плюсом является то, что тенты из акриловой ткани «дышат»,
            что располагает к более комфортному пребыванию под ними.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
