<section class="faq">
  <div class="container">
    <h2 class="faq__title section-title">Часто задаваемые вопросы</h2>

    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Из чего сделаны тенты?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          <p>
            Наши тенты и навесные сооружения изготавливаются из
            специально-разработанной прочной солнцезащитной ткани, она
            обеспечивает высокий уровень защиты от дождя и солнца. Правильно
            подобранная цветовая гамма, органично вписывает изделие в любой
            архитектурный стиль: от кафе и ресторанов, до террасы частного дома.
            Солнцезащитные ткани имеют ряд преимуществ, которые делают их
            максимально востребованными при изготовлении тентов для частных
            домов, кафе, ресторанов и магазинов.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Какой срок изготовления тентовых изделий?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          От 10 дней в зависимости от объема работы и очереди на производство,
          условий логистики и прочих факторов. Изготовление тентов и навесов
          эксклюзивно для каждого клиента и происходит в индивидуальном порядке.
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Как ухаживать за тентовыми изделиями?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          При чистке изделий нежелательно использовать бытовую химию, так как
          можно испортить изделие, а лучше использовать специальные средства,
          которые рекомендуют производители.
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Какова долговечность тентового сооружения?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          Срок службы тканевых материалов до 10-20 лет — срок сравнимый со
          сроком эксплуатации железобетонного здания до необходимости
          капитального ремонта. А при износе покрытия его можно заменить на
          новое. Ткань высоко устойчива к повреждениям от удара тупыми
          предметами, однако уязвима для острых предметов. Маленькие порезы
          могут быть устранены с помощью заплаток. Крупные повреждения потребуют
          вызова специалиста по ремонту.
        </div>
      </div>
    </div>
  </div>
</section>
