<section class="faq">
  <div class="container">
    <h2 class="faq__title section-title">Часто задаваемые вопросы</h2>

    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Из чего сделаны перголы?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          <p>
            Конструкция изготавливается из высококачественного алюминиевого
            сплава. Тент навес изготавливается из высококачественного PVC,
            надёжно защищающего от солнца и дождя.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Как возводятся перголы?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          Пергола устанавливается на любой тип поверхности: асфальт, бетон,
          земля. Может интегрироваться с остеклением, Zip и Screen системами –
          это позволяет превратить открытую площадку в полноценное крытое
          помещение типа веранды или мансарды.
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Какой срок изготовления пергол?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          Пергола устанавливается на любой тип поверхности: асфальт, бетон,
          земля. Может интегрироваться с остеклением, Zip и Screen системами –
          это позволяет превратить открытую площадку в полноценное крытое
          помещение типа веранды или мансарды.
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Срок службы и уход
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          Выносливые алюминиевые и металлические конструкции выдерживают порывы
          ветра до 117 км\ч и. Перголы из металла более технологичны,
          долговечны, имеют большой срок службы. Конструкции из металла защищены
          надёжным антикоррозионным покрытием.
        </div>
      </div>
    </div>
  </div>
</section>
