<section class="faq">
  <div class="container">
    <h2 class="faq__title section-title">Часто задаваемые вопросы</h2>

    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Что такое маркизы?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          <p>
            Маркизы — это системы, состоящие из каркаса с натянутой на него
            тканью. Это складные или выдвижные конструкции. <br />
            Маркизы могут быть разных необычных форм, но самые распространенные
            — выдвижные.
          </p>
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Из чего сделаны маркизы?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          Ткань для маркизы – это главный элемент всей конструкции. Именно она
          обеспечивает высокий уровень защиты от дождя и солнца. Для
          производства маркиз мы используем специальные усиленные ткани, которые
          выпускаются для использования на улице. Эти прочные ткани отличаются
          наличием специальной антигрибковой пропитки и тефлонового покрытия.
          Они не выцветают на солнце, не пропускают воду, не гниют, устойчивы на
          разрыв.
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Какой срок изготовления маркиз?
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          От 30 дней в зависимости от объема работы и очереди на производство,
          условий логистики и прочих факторов. <br />
          Изготовление тентов и навесов эксклюзивно для каждого клиента и
          происходит в индивидуальном порядке.
        </div>
      </div>
    </div>
    <div class="faq-accordion accordion">
      <button class="faq-accordion__control accordion-control" type="button">
        Какова долговечность маркизной системы??
      </button>
      <div class="faq-accordion__content accordion-content">
        <div class="accordion-inner">
          Срок службы тканевых материалов до 10-20 лет — срок сравнимый со
          сроком эксплуатации железобетонного здания до необходимости
          капитального ремонта. А при износе покрытия его можно заменить на
          новое. Ткань высоко устойчива к повреждениям от удара тупыми
          предметами, однако уязвима для острых предметов. Маленькие порезы
          могут быть устранены с помощью заплаток на клею. Крупные повреждения
          потребуют вызова специалиста по ремонту с портативным сварочным
          аппаратом.
        </div>
      </div>
    </div>
  </div>
</section>
