<section class="hero" style="background-image: url('img/hero/window.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <h1 class="hero__title">Маркизы оконные</h1>

      <div class="hero__inner">
        <ul class="hero__list">
          <li class="hero__item">
            <a class="hero__link" href="#">
              <span>ИНДИВИДУАЛЬНЫЙ</span> дизайн</a
            >
          </li>
          <li class="hero__item">
            <a class="hero__link" href="#">
              <span>ЕВРОПЕЙСКИЙ СТАНДАРТ</span> качества
            </a>
          </li>
        </ul>

        <div class="hero__contacts hero-contacts">
          <h3 class="hero-contacts__title">
            Оставьте Ваши данные <br />
            для консультации
          </h3>

          <form class="form-submit">
            <div class="form-submit__top">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="Ваше имя"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="Ваш номер телефона"
                />
              </label>
            </div>
            <button class="form-submit__btn btn" type="submit">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
