<section class="hero" style="background-image: url('img/hero/1.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__location">
        <img src="img/flag.svg" alt="flag" />
        <span> Работаем по всему Казахстану</span>
      </div>
      <h1 class="hero__title section-title">
        ИЗГОТОВЛЕНИЕ СИСТЕМ ДЛЯ ТЕРРАС <br />

        <span>МАРКИЗЫ, ПЕРГОЛЫ, ТЕНТЫ </span> <small> и др.</small>
      </h1>

      <p class="hero__text">
        Качественное проектирование, производство и монтаж систем для
        <br />террас домов, кафе и ресторанов по всему Казахстану
      </p>

      <ul class="hero__list">
        <li class="hero__item">Многолетний опыт</li>
        <li class="hero__item">Доступные цены</li>
        <li class="hero__item">Гарантия</li>
      </ul>

      <button class="hero__btn btn btn-consultation" type="button">
        Заказать консультацию
      </button>
    </div>
  </div>
</section>
