<section class="how-work">
  <div class="container">
    <h2 class="how-work__title section-title">КАК МЫ РАБОТАЕМ?</h2>

    <ul class="how-work__list">
      <li class="how-work-item">
        <img class="how-work-item__img" src="img/how-work/1.svg" alt="img" />
        <span class="how-work-item__text">
          ОБРАБОТКА <br />
          ЗАЯВКИ
        </span>
      </li>
      <li class="how-work-item">
        <img class="how-work-item__img" src="img/how-work/2.svg" alt="img" />
        <span class="how-work-item__text">
          РАСЧЕТ <br />
          СТОИМОСТИ
        </span>
      </li>
      <li class="how-work-item">
        <img class="how-work-item__img" src="img/how-work/3.svg" alt="img" />
        <span class="how-work-item__text">
          ЗАКЛЮЧЕНИЕ <br />
          ДОГОВОРА
        </span>
      </li>
      <li class="how-work-item">
        <img class="how-work-item__img" src="img/how-work/4.svg" alt="img" />
        <span class="how-work-item__text"> ПРОИЗВОДСТВО </span>
      </li>
      <li class="how-work-item">
        <img class="how-work-item__img" src="img/how-work/5.svg" alt="img" />
        <span class="how-work-item__text">
          ДОСТАВКА И <br />
          МОНТАЖ
        </span>
      </li>
      <li class="how-work-item">
        <img class="how-work-item__img" src="img/how-work/6.svg" alt="img" />
        <span class="how-work-item__text">
          СЕРВИС И <br />
          ГАРАНТИЯ
        </span>
      </li>
    </ul>
  </div>
</section>
