<section class="motors">
  <div class="container">
    <h2 class="motors__title">Моторы</h2>

    <ul class="motors__list">
      <li class="motors__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/motors/1.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <div class="automation-card__cols">
              <div class="automation-card__col">
                <h3 class="automation-card__title">
                  <a href="#">Мотор со встроенным приёмником</a>
                </h3>
                <span class="automation-card__price">
                  <b>Цена:</b> 46 000 тенге
                </span>
                <span class="automation-card__vendor">Артикул: DM45R</span>
              </div>
              <div class="automation-card__col">
                <h3 class="automation-card__title">
                  <a href="#"
                    >Мотор со встроенным приёмником и аварийным открыванием</a
                  >
                </h3>
                <span class="automation-card__price">
                  <b>Цена:</b> 58 000 тенге
                </span>
                <span class="automation-card__vendor">Артикул: DM45RМ</span>
              </div>
              <div class="automation-card__col">
                <h3 class="automation-card__title">
                  <a href="#"
                    >Мотор со встроенным приёмником, аварийным открыванием, для
                    LED освещения</a
                  >
                </h3>
                <span class="automation-card__price">
                  <b>Цена:</b> 120 000 тенге
                </span>
                <span class="automation-card__vendor">Артикул: DM45RD</span>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
