<div class="popup popup--consulation">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Заявка на консультацию</span>

      <form class="popup__form form-submit">
        <div class="form-submit__top">
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              placeholder="Ваш номер телефона"
            />
          </label>
        </div>
        <button class="form-submit__btn btn" type="submit">
          Заказать звонок
        </button>
      </form>
    </div>
  </div>
</div>
