<section class="section-slider">
  <div class="container">
    <div class="section-slider__wrapper">
      <div class="section-slider__left">
        <h2 class="section-slider__title">
          Элитные материалы и оборудование для террас
        </h2>
        <div class="section-slider__text">
          <p><b>Маркизы: </b>открытые, кассетные, оконные и корзинные.</p>
          <p>
            <b>Тентовые конструкции </b>для террас, кафе, ресторанов, загородных
            домов, спортивных, детских площадок и фасадов.
          </p>
          <p><b>Перголы</b> для монтажа на стену, самонесущие перголы.</p>
          <p><b>Зонты</b> для ресторанов и частных домов.</p>
        </div>
      </div>
      <div class="section-slider__slider swiper">
        <ul class="section-slider__slides swiper-wrapper">
          <li class="section-slider__slide swiper-slide">
            <picture>
              <!-- <source srcset="img/section-slider/1.webp" type="image/webp" /> -->
              <img src="img/section-slider/1.jpg" alt="img" />
            </picture>
          </li>
          <li class="section-slider__slide swiper-slide">
            <picture>
              <!-- <source srcset="img/section-slider/2.webp" type="image/webp" /> -->
              <img src="img/section-slider/2.jpg" alt="img" />
            </picture>
          </li>
          <li class="section-slider__slide swiper-slide">
            <picture>
              <!-- <source srcset="img/section-slider/3.webp" type="image/webp" /> -->
              <img src="img/section-slider/3.jpg" alt="img" />
            </picture>
          </li>
          <li class="section-slider__slide swiper-slide">
            <picture>
              <!-- <source srcset="img/section-slider/4.webp" type="image/webp" /> -->
              <img src="img/section-slider/4.jpg" alt="img" />
            </picture>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
