<section class="sensors">
  <div class="container">
    <h2 class="sensors__title">Датчики</h2>

    <ul class="sensors__list">
      <li class="sensors__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/sensors/1.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Датчик ветра и солнца подключение 220В</a>
            </h3>
            <span class="automation-card__price">
              <b>Цена:</b> 56 000 тенге
            </span>
            <span class="automation-card__vendor">Артикул: DC116W</span>
          </div>
        </article>
      </li>
      <li class="sensors__item">
        <article class="automation-card">
          <div class="automation-card__top">
            <img src="img/sensors/2.png" alt="img" />
          </div>
          <div class="automation-card__body">
            <h3 class="automation-card__title">
              <a href="#">Радиодатчик ветра 3D (датчик колебания)</a>
            </h3>
            <span class="automation-card__price">
              <b>Цена:</b> 30 500 тенге
            </span>
            <span class="automation-card__vendor">Артикул: DC510</span>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
